<header class="navbar navbar-expand navbar-dark flex-column flex-row-reverse bd-navbar">
    <div class="d-flex flex-row-reverse bd-highlight pull-right">
      <div class="p-2 bd-highlight">
        <a title="projects" href="../projects.html" >
          Projects
        </a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="../posts.html" title="posts">Posts</a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="{{ site.url }}" title="home" 
        style="font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 500">Home</a></div>
      
    </div>
  </header>