---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">
  <header class="navbar navbar-expand navbar-dark flex-column flex-row-reverse bd-navbar">
    <div class="d-flex flex-row-reverse bd-highlight pull-right">
      <div class="p-2 bd-highlight">
        <a title="projects" href="../projects.html" >
          Projects
        </a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="../posts.html" title="posts">Posts</a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="{{ site.url }}" title="home">Home</a></div>
      
    </div>
</header>
  
  <!-- <div style="display:block; height:100%; overflow-y:auto">
     <div>
      <a href="{{ site.url }}" title="home" class="home-icon"></a>
      <a href="../posts.html" title="posts" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <a title="projects" >
          Projects
        </a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="../posts.html" title="posts">Posts</a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="{{ site.url }}" title="home">Home</a></div>
      
    </div> -->

    <div class="block-post">
        
      <div class="content">
        <!-- <div style="position:absolute; bottom: -10px; top:0; left:-30px; right:0">
        <button class="pull-right" onclick="closeNav()"
                style="background: rgb(255,255,255,0); border-color: rgb(255,255,255,0)">
          <i class="material-icons pull-right" style="color: white; font-size: 40px">
              menu
              </i>
          </button>
        </div> -->
          
        <div class="post-title-section">
          <div class="section-line">Posts <em>/</em></div>
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          <ul class="tags">
            {% for tag in page.tags %}
              <li><a href="{{ site.url }}/tags#{{ tag }}">{{ tag }}</a></li>
              {% unless forloop.last %}
              {% endunless %}
            {% endfor %}
          </ul>
          <div class="section-line reverse"><a href="{{ site.url}}/posts"><i class="material-icons">
            arrow_back
            </i>Voltar para posts</a> <em>/</em></div>
        </div>
      </div> 
    </div>

    <div class="post">
      <!-- <div style="display: none" id="menu-right">
        <button class="pull-right" style="background: rgb(255,255,255,0); border-color: rgb(255,255,255,0)"
        onclick="openNav()">
          <i class="material-icons pull-right" style="color: black; font-size: 40px">
              menu
              </i>
        </button>
      </div> -->
      
      <div class="inner-post post-content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d/%m/%Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>
  </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
